<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contents of /<%= directory.fullname %>">
    
    <link rel="shortcut icon" href="/_/Niko_origin.webp" type="image/webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Emoji:wght@700&display=swap" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/_/style.css">

    <title>Contents of /<%= directory.fullname %></title>
  </head>
  <body>
    <div class="outer-container">
      <div class="container">
        <h1>Contents of
          <div>
            <span class="heading-textbg">/<%= directory.fullname %></span>
            <span class="heading-text">/<%= directory.fullname %></span>
          </div>
        </h1>

        <nav class="hide-when-mobile">
          <ul>
            <li><a href="/">🌱</a></li>
            <% for (const pathSlice of directory.pathSlices) { %>
              <% const currentPath = pathSlice.split('/')[pathSlice.split('/').length - 1] %>
    
              <li class="div">/</li>
              <li><a href="/<%= pathSlice %>/index.html"><%= currentPath %></a></li>
            <% } %>
          </ul>
        </nav>

        <table>
          <thead>
            <tr>
              <td></td>
              <td>name</td>
              <td class="hide-when-mobile"><div>type</div></td>
              <td class="hide-when-mobile-xs"><div>size</div></td>
              <td class="hide-when-mobile"><div>modified</div></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>📁</td>
              <td class="nav-col"><div><a href="./index.html">.</a></div></td>
              <td class="hide-when-mobile"><div>DIR</div></td>
              <td class="hide-when-mobile-xs"><div>-</div></td>
              <td class="hide-when-mobile"><div>-</div></td>
            </tr>
            <tr>
              <td>📁</td>
              <td class="nav-col"><div><a href="../index.html">..</a></div></td>
              <td class="hide-when-mobile"><div>DIR</div></td>
              <td class="hide-when-mobile-xs"><div>-</div></td>
              <td class="hide-when-mobile"><div>-</div></td>
            </tr>
            <% for (const childDirectory of directory.directories.values()) { %>
              <tr>
                <td>📂</td>
                <td class="nav-col"><div><a href="/<%= childDirectory.fullname %>/index.html"><%= childDirectory.name %>/</a></div></td>
                <td class="hide-when-mobile"><div>DIR</div></td>
                <td class="hide-when-mobile-xs"><div>-</div></td>
                <td class="hide-when-mobile"><div>-</div></td>
              </tr>
            <% } %>
            <% for (const file of directory.files.values()) { %>
              <tr>
                <td>📄</td>
                <% if (file.viewerAvailable) { %>
                  <td class="nav-col"><div>
                    <% if (file.mediaType === 'image') { %>
                        <a href="/<%= file.fullname %>/viewer.html">
                          <span
                            class="image-preview"
                            data-media-url="/<%= file.fullname %>">
                            <%= file.name %>
                          </span>
                        </a>
                      <% } else { %>
                        <a href="/<%= file.fullname %>/viewer.html">
                          <span class="tooltip" data-tooltip="Click to preview in media viewer">
                            <%= file.name %>
                          </span>
                        </a>
                      <% } %>
                  </div></td>
                <% } else { %>
                  <td class="nav-col"><div><a href="/<%= file.fullname %>"><%= file.name %></a></div></td>
                <% } %>
                <td class="hide-when-mobile">
                  <div class="tooltip" data-tooltip="<%= file.contentType %>">
                    <%= file.contentType %>
                  </div>
                </td>
                <td class="hide-when-mobile-xs"><div><%= file.size %></div></td>
                <td class="hide-when-mobile"><div><%= file.lastModified %></div></td>
              </tr>
            <% } %>
          </tbody>
        </table>

        <p><small>
          <a href="https://github.com/pmh-only/indexgen">indexgen</a> |

          <% for (const quicklink of quicklinks) { %>
            <a href="<%= quicklink.link %>?ref=/<%= directory.fullname %>"><%= quicklink.title %></a>
          <% } %>
        </small></p>
      </div>
    </div>

    <img id="niko" src="/_/Niko_origin.webp" alt="Niko the Cat">

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="/_/script.js"></script>
  </body>
</html>
