<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Media viewer of <%= file.fullname %>">
    
    <link rel="shortcut icon" href="/_/Niko_origin.webp" type="image/webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Emoji:wght@700&display=swap" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/_/style.css">

    <title>Preview of <%= file.fullname %></title>
  </head>
  <body>
    <div class="outer-container">
      <div class="container">
        <h1>Preview of
          <div>
            <span class="heading-textbg">/<%= file.fullname %></span>
            <span class="heading-text">/<%= file.fullname %></span>
          </div>
        </h1>

        <nav>
          <ul>
            <li><a href="/<%= file.fullname %>">View Original</a></li>
            <li><a href="/<%= file.fullname %>" download>Download</a></li>

            <% if (file.mediaType !== 'audio') { %>
              <li class="div hide-when-mobile">/</li>
              <li class="hide-when-mobile"><a href="javascript:" onclick="changeMediaSize('auto')">Original Size</a></li>
              <li class="hide-when-mobile"><a href="javascript:" onclick="changeMediaSize('100%')">w=full</a></li>
              <li class="hide-when-mobile"><a href="javascript:" onclick="changeMediaSize('60%')">w=60%</a></li>
              <li class="hide-when-mobile"><a href="javascript:" onclick="changeMediaSize('30%')">w=30%</a></li>
            <% } %>
          </ul>
        </nav>

        <table>
          <thead>
            <tr>
              <td></td>
              <td>name</td>
              <td class="hide-when-mobile"><div>type</div></td>
              <td class="hide-when-mobile-xs"><div>size</div></td>
              <td class="hide-when-mobile"><div>modified</div></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>📁</td>
              <td class="nav-col"><div><a href="./viewer.html">.</a></div></td>
              <td class="hide-when-mobile"><div>DIR</div></td>
              <td class="hide-when-mobile-xs"><div>-</div></td>
              <td class="hide-when-mobile"><div>-</div></td>
            </tr>
            <tr>
              <td>📁</td>
              <td class="nav-col"><div><a href="../index.html">..</a></div></td>
              <td class="hide-when-mobile"><div>DIR</div></td>
              <td class="hide-when-mobile-xs"><div>-</div></td>
              <td class="hide-when-mobile"><div>-</div></td>
            </tr>
            <tr>
              <td>📄</td>
              <td class="nav-col"><%= file.name %></td>
              <td class="hide-when-mobile"><div><%= file.contentType %></div></td>
              <td class="hide-when-mobile-xs"><div><%= file.size %></div></td>
              <td class="hide-when-mobile"><div><%= file.lastModified %></div></td>
            </tr>
          </tbody>
        </table>

        <% if (file.mediaType === 'image') { %>
          <img id="media" src="/<%= file.fullname %>" alt="<%= file.name %>" />
        <% } else if (file.mediaType === 'video') { %>
          <video id="media" controls autoplay src="/<%= file.fullname %>" />
        <% } else if (file.mediaType === 'audio') { %>
          <audio id="media" controls autoplay src="/<%= file.fullname %>" />
        <% } %>

        <p><small>
          <a href="https://github.com/pmh-only/indexgen">indexgen</a> |

          <% for (const quicklink of quicklinks) { %>
            <a href="<%= quicklink.link %>"><%= quicklink.title %></a>
          <% } %>
        </small></p>
      </div>
    </div>
    
    <img id="niko" src="/_/Niko_origin.webp" alt="Niko the Cat">

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="/_/script.js"></script>
  </body>
</html>
